<h3>Danh sách QR</h3>
<div class="topnav">
    <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
    <button type="submit"><i class="fa fa-search"></i></button>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<ul class="optss">
  <li *ngFor="let opt of opts | grdFilter: { idqr : searchText, nameqr : searchText } | paginate: { itemsPerPage: 10, currentPage: p }"
  [class.selected]="opt.idqr === selectedId"
    routerLink="/managedqr/list/{{opt.idqr}}">
    <div class="module opt">
      <span class="badge text-center"><ngx-qrcode [qrc-element-type]="elementType" qrc-value="{{opt.idqr}}"></ngx-qrcode></span>
      {{opt.nameqr}}
    </div>
  </li>
</ul>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<!-- <app-detail-qr [opt]="selectedOpt"></app-detail-qr> -->