<div *ngIf="opt$ | async as opt" id="ve">
  <div class="highlight-phone">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="intro">
            <h2>{{ opt.nameqr }}</h2>
            <p>{{ opt.context }}.</p>
            <a class="btn btn-primary" style="margin: 3px" role="button" routerLink="/managedqr/repair/{{opt.idqr}}">Thay đổi</a>
            <a class="btn btn-primary" role="button" (click)="delete()">Xóa</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-none d-md-block iphone-mockup"><img [src]="urlImg" class="device">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
    <h2>{{ opt.nameqr }}</h2>
  </div>
  <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="value"></ngx-qrcode>
  <div class="border">
    <label class="label">ID: </label>
    <input class="myText" value="{{ opt.idqr }}" readOnly>
  </div>
  <div class="border">
    <label class="label">Tên: </label>
    <input class="myText" value="{{ opt.nameqr }}" readOnly>
  </div>
  <div class="border">
    <label class="label">Loại: </label>
    <input class="myText" value="{{ opt.sel1 }}" readOnly>
  </div>
  <div class="border">
    <label class="label">Nội dung: </label>
    <textarea class="form-control" aria-label="With textarea"
      style="background-color: gray; color: black">{{ opt.context }}</textarea>
    //<input class="myText" value="" readOnly>
  </div>
  <div class="border">
    <label class="label">Đính kèm: </label>
    <img [src]="urlImg" alt="NONE" width="128px" height="128px">
    //<input class="myText" id="myimg" type="image" src="" readOnly>
  </div>
  <button routerLink="/managedqr/repair/{{opt.idqr}}">Thay đổi</button>
  <button (click)="delete()">Xóa</button>
</div> -->

