<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" target="_blank" href="/game">Chicky Fly</a>
        <a class="nav-item nav-link" (click)="goBack()">Back</a>
        <a class="nav-item nav-link logout" (click)="logout()">Logout</a>
    </div>
</nav>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- credits -->
<footer>
</footer>