.iphone-mockup {
    position: absolute;
    max-width: 260px;
    margin-top: -200px;
    margin-bottom: -230px;
    transform: rotate(-15deg);
    margin-left: 20em;
  }
  
  .highlight-phone .iphone-mockup img.device {
    width: 100%;
    height: auto;
  } 